/* line 5, ../../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  overflow: auto;
  background: #EEE;
  color: #3B3835;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
}

/* line 18, ../sass/style.scss */
a {
  text-decoration: none;
  cursor: pointer;
}

/* line 23, ../sass/style.scss */
.nav-container {
  width: 100%;
  background: #2D2D2D;
  color: #D7D7D7;
}
/* line 28, ../sass/style.scss */
.nav-container .top-bar {
  margin: 0 auto;
  margin-bottom: 2px;
}
/* line 33, ../sass/style.scss */
.nav-container .top-bar .company-name .name {
  height: 49px;
  margin: 0;
  font-size: 16px;
}
/* line 37, ../sass/style.scss */
.nav-container .top-bar .company-name .name h1 {
  font-size: 1.0625rem;
  margin: 0;
}
/* line 41, ../sass/style.scss */
.nav-container .top-bar .company-name .name a {
  color: #FFF;
  font-weight: 500;
  line-height: 49px;
  padding: 0 13px 0 0;
  position: relative;
}
/* line 48, ../sass/style.scss */
.nav-container .top-bar .company-name .name img {
  height: 36px;
  margin: -2px 4px 0 0;
}
/* line 55, ../sass/style.scss */
.nav-container .top-bar .top-bar-section {
  display: none;
}
/* line 59, ../sass/style.scss */
.nav-container .sub-navbar {
  background-color: #4D4D4D;
}
/* line 61, ../sass/style.scss */
.nav-container .sub-navbar .menu-list {
  text-align: center;
}
/* line 63, ../sass/style.scss */
.nav-container .sub-navbar .menu-list .menu-item {
  display: inline-block;
  margin-right: 45px;
}
/* line 70, ../sass/style.scss */
.nav-container .link {
  font-size: 13px;
  line-height: 29px;
  color: #D7D7D7;
}
/* line 74, ../sass/style.scss */
.nav-container .link:hover {
  color: #008ED2;
}

/* line 80, ../sass/style.scss */
.row {
  margin-left: auto;
  margin-right: auto;
  max-width: 62.5rem;
}

/* line 86, ../sass/style.scss */
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}
