@charset "UTF-8";
/* line 5, ../../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../.rvm/gems/ruby-2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/style.scss */
body {
  overflow: auto;
  background: #EEE;
  color: #3B3835;
  padding: 0;
  margin: 0;
  font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.5;
  position: relative;
  cursor: auto;
}

/* line 18, ../sass/style.scss */
h1 {
  font-size: 48px;
  font-weight: 300;
  letter-spacing: 1.5px;
  line-height: 1;
  margin-bottom: 10px;
  margin-top: 25px;
  text-align: center;
}

/* line 28, ../sass/style.scss */
a, a:visited {
  text-decoration: none;
  cursor: pointer;
}

/* line 33, ../sass/style.scss */
p {
  margin: 0 0 9px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 40, ../sass/style.scss */
.row {
  margin-left: auto;
  margin-right: auto;
  max-width: 62.5rem;
}

/* line 46, ../sass/style.scss */
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 100;
}

/* line 54, ../sass/style.scss */
.button {
  border-radius: 6px;
  padding: 16px 20px;
  margin: 0;
}

/* line 59, ../sass/style.scss */
.cover {
  background: url(../images/VeronaDusk_ZH-CN8191043232_1920x1080.jpg);
  position: absolute;
  height: 640px;
  width: 100%;
  top: -80px;
  z-index: -1;
}

/* line 68, ../sass/style.scss */
.blur {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

/* line 76, ../sass/style.scss */
.nav-container {
  width: 100%;
  background: #2D2D2D;
  color: #D7D7D7;
}
/* line 81, ../sass/style.scss */
.nav-container .top-bar {
  margin: 0 auto;
  margin-bottom: 2px;
}
/* line 85, ../sass/style.scss */
.nav-container .top-bar .logo-search {
  display: inline;
  width: 128px;
}
/* line 88, ../sass/style.scss */
.nav-container .top-bar .logo-search li {
  display: inherit;
}
/* line 91, ../sass/style.scss */
.nav-container .top-bar .logo-search .name {
  height: 49px;
  margin: 0;
  font-size: 16px;
}
/* line 95, ../sass/style.scss */
.nav-container .top-bar .logo-search .name h1 {
  font-size: 1.0625rem;
  margin: 0;
}
/* line 99, ../sass/style.scss */
.nav-container .top-bar .logo-search .name a {
  color: #FFF;
  font-weight: 500;
  line-height: 49px;
  padding: 0 13px 0 0;
  position: relative;
}
/* line 106, ../sass/style.scss */
.nav-container .top-bar .logo-search .name img {
  height: 36px;
  margin: -4px 4px 0 0;
  position: relative;
  top: 12px;
}
/* line 113, ../sass/style.scss */
.nav-container .top-bar .logo-search .divider {
  font-size: 12px;
  border-left: 1px solid #555;
}
/* line 117, ../sass/style.scss */
.nav-container .top-bar .logo-search .nav-search {
  width: 253px;
  display: inline-block;
  margin-left: 15px;
}
/* line 122, ../sass/style.scss */
.nav-container .top-bar .logo-search .nav-search input.nav-search-query {
  width: 204px;
  padding: 2px 22px 2px 5px;
  color: #ffffff;
  background: #555;
  border-radius: 3px;
  line-height: 23px;
  border: none;
}
/* line 132, ../sass/style.scss */
.nav-container .top-bar .logo-search .nav-search .icon-button {
  position: relative;
  left: -27px;
  font-size: 12px;
}
/* line 140, ../sass/style.scss */
.nav-container .top-bar .top-bar-right {
  display: inline-block;
  line-height: 48px;
  color: #ffffff;
  float: right;
}
/* line 146, ../sass/style.scss */
.nav-container .top-bar .top-bar-right .button-small {
  color: #ffffff;
  font-size: 13px;
  background: #E48126;
  border-radius: 3px;
  padding: 6px 12px;
  margin: 0;
}
/* line 154, ../sass/style.scss */
.nav-container .top-bar .top-bar-right .create-new-beautiful {
  margin-left: 2px;
}
/* line 157, ../sass/style.scss */
.nav-container .top-bar .top-bar-right .user-info {
  margin-left: 16px;
  display: inline-block;
  width: 28px;
  height: 28px;
  position: relative;
  bottom: -10px;
}
/* line 164, ../sass/style.scss */
.nav-container .top-bar .top-bar-right .user-info img {
  width: 100%;
  height: 100%;
}
/* line 171, ../sass/style.scss */
.nav-container .sub-navbar {
  background-color: #4D4D4D;
}
/* line 174, ../sass/style.scss */
.nav-container .sub-navbar .menu-list .menu-item {
  display: inline-block;
  margin-right: 45px;
}
/* line 181, ../sass/style.scss */
.nav-container .link {
  font-size: 13px;
  line-height: 29px;
  color: #D7D7D7;
}
/* line 185, ../sass/style.scss */
.nav-container .link:hover {
  color: #008ED2;
}

/* line 190, ../sass/style.scss */
.normal {
  clear: both;
  font-size: 18px;
  letter-spacing: 0.05em;
  color: white;
}

/* line 197, ../sass/style.scss */
.center {
  text-align: center;
}

/* line 201, ../sass/style.scss */
.main-content {
  margin-top: 160px;
}
/* line 203, ../sass/style.scss */
.main-content h1 {
  color: white;
}
/* line 204, ../sass/style.scss */
.main-content .subtitle {
  margin-bottom: 25px;
  line-height: 36px;
}
/* line 208, ../sass/style.scss */
.main-content .create-cancel-buttons {
  color: white;
}
/* line 210, ../sass/style.scss */
.main-content .create-cancel-buttons .create-blue {
  background: #2672AE;
  margin-right: 20px;
}
/* line 213, ../sass/style.scss */
.main-content .create-cancel-buttons .create-blue i {
  font-size: 32px;
  margin-left: -18px;
  margin-right: 6px;
}
/* line 219, ../sass/style.scss */
.main-content .create-cancel-buttons .skip-create {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid white;
}
/* line 223, ../sass/style.scss */
.main-content .create-cancel-buttons .create-tag {
  font-size: 21px;
  line-height: 54px;
}
/* line 227, ../sass/style.scss */
.main-content .create-cancel-buttons .cancel-tag {
  font-size: 16px;
  line-height: 50px;
}
/* line 233, ../sass/style.scss */
.main-content .banners {
  margin-top: 50px;
  height: 330px;
  overflow: hidden;
}
/* line 237, ../sass/style.scss */
.main-content .banners .left-banner {
  width: 109px;
  height: 186px;
  vertical-align: bottom;
  display: inline-block;
  position: relative;
  z-index: 10;
  right: -63px;
}
/* line 246, ../sass/style.scss */
.main-content .banners .middle-banner {
  width: 550px;
  height: 330px;
  display: inline-block;
  position: relative;
}
/* line 252, ../sass/style.scss */
.main-content .banners .right-banner {
  width: 110px;
  height: 165px;
  display: inline-block;
  position: relative;
  left: -190px;
  bottom: -40px;
}

/* line 263, ../sass/style.scss */
.remaining {
  background: #3B3835;
  padding-top: 45px;
  z-index: 9999;
}
/* line 269, ../sass/style.scss */
.remaining .features .tip {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}
/* line 274, ../sass/style.scss */
.remaining .features .line-separation {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 50px;
  line-height: 18px;
  border-bottom: 1px solid #555;
}
/* line 282, ../sass/style.scss */
.remaining .features .text {
  font-size: 20px;
  font-weight: 300;
  color: white;
  line-height: 30px;
  letter-spacing: 0.05em;
}
/* line 289, ../sass/style.scss */
.remaining .features .steps {
  margin-left: auto;
  margin-right: auto;
  width: 950px;
  margin-top: 50px;
}
/* line 294, ../sass/style.scss */
.remaining .features .steps .step {
  width: 30%;
  display: inline-block;
  text-align: center;
}
/* line 298, ../sass/style.scss */
.remaining .features .steps .step + .step {
  margin-left: 20px;
}
/* line 301, ../sass/style.scss */
.remaining .features .steps .step .small {
  color: #CCC;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 0.08em;
  line-height: 24px;
}
/* line 309, ../sass/style.scss */
.remaining .features .steps .angle-right {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-top: 1px solid #555;
  border-right: 1px solid #555;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -moz-transform: rotate(45deg);
  /* Firefox */
  -webkit-transform: rotate(45deg);
  /* Safari å’Œ Chrome */
  -o-transform: rotate(45deg);
  /* Opera */
}
/* line 322, ../sass/style.scss */
.remaining .features .create-now {
  margin-top: 50px;
  text-align: center;
}
/* line 325, ../sass/style.scss */
.remaining .features .create-now .create-white {
  background: white;
  color: #07A;
  line-height: 52px;
}
/* line 329, ../sass/style.scss */
.remaining .features .create-now .create-white i {
  position: relative;
  font-size: 34px;
  margin-left: -18px;
  bottom: -6px;
}
/* line 339, ../sass/style.scss */
.remaining .footer {
  margin-top: 50px;
}
/* line 342, ../sass/style.scss */
.remaining .footer .copyright {
  font-family: 'Helvetica Neue', 'Open Sans', sans-serif;
  color: #BBB;
  font-size: 12px;
  line-height: 30px;
  padding-bottom: 10px;
  margin: 0;
}
